@using FacilityApp.ViewModels
@model TenantRegistration
@{
	Layout = "_Layout";
}

<form method="post" asp-controller="Tenant" asp-action="Create"> 
	 
	
		<div class="row ">
			<h2 class="text-primary"> Tenant Details</h2>
			<hr />
		</div>
	
		@*<div asp-validation-summary="All"></div>*@
		<div class="row ">
		<div class="mb-3 col-sm col-md col-lg">
			<label asp-for="Tenant.Name"></label>
			<input asp-for="Tenant.Name" class="form-control" />
			<span asp-validation-for="Tenant.Name" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm col-md col-lg">
			<label asp-for="Tenant.MobileNo"></label>
			<input asp-for="Tenant.MobileNo" class="form-control" />
			<span asp-validation-for="Tenant.MobileNo" class="text-danger"></span>
		</div>	
		<div class="mb-3 col-sm col-md col-lg">
			<label asp-for="Tenant.EmiratedId"></label>
			<input asp-for="Tenant.EmiratedId" class="form-control" />
			<span asp-validation-for="Tenant.EmiratedId" class="text-danger"></span>
		</div>
		</div>
	<div class="row ">
		<div class="mb-3 col-sm">
			<label asp-for="Tenant.PassportNo"></label>
			<input asp-for="Tenant.PassportNo" class="form-control" />
			<span asp-validation-for="Tenant.PassportNo" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm">
			<label asp-for="Tenant.EmailId"></label>
			<input asp-for="Tenant.EmailId" class="form-control" />
			<span asp-validation-for="Tenant.EmailId" class="text-danger"></span>
		</div>
		
		@*<div class="mb-3">
			<label asp-for="RoleId"></label>
			<select  asp-for="RoleId" class="form-control"  asp-items='@(new SelectList(@ViewBag.Roles,"RoleId","RoleName"))'> </select>
			<span asp-validation-for="EmailID" class="text-danger"></span>
		</div>*@
		<div class="mb-3 col-sm">
			<label asp-for="Tenant.FamilyCount"></label>
			<input asp-for="Tenant.FamilyCount" class="form-control" />
			<span asp-validation-for="Tenant.FamilyCount" class="text-danger"></span>
		</div>
		</div>
			<div class="row ">
		<div class="mb-3 col-sm">
			<label asp-for="Tenant.Address"></label>
			<textarea  asp-for="Tenant.Address" class="form-control"   rows="3" cols="40"></textarea>
			<span asp-validation-for="Tenant.Address" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm">
			<label asp-for="Tenant.FaciltyAppAccess"></label>
			            <div class="mt-2">

			 <div class="form-check form-check-inline">
                    <input class="form-check-input" id="AffectsUsersYes" asp-for="Tenant.FaciltyAppAccess" type="radio" value="true"  class="form-check form-check-input bg-black"/>
                    <label class="form-check-label" for="AffectsUsersYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="AffectsUsersNo" asp-for="Tenant.FaciltyAppAccess" type="radio" value="false"  class="form-check form-check-input bg-black"/>
                    <label class="form-check-label" for="AffectsUsersNo">No</label>
                </div>
			<span asp-validation-for="Tenant.FaciltyAppAccess" class="text-danger"></span>

			</div>
			</div>
		</div>
		<div class="mb-3 col-sm">
		</div>
		<div class="row ">
			<h2 class="text-primary">Tenant Flat Details</h2>
			<hr />
		</div>
			<div class="row ">
		<div class="mb-3 col-sm-6">
				<label asp-for="TenantFlatDetails.BuildingId"></label>
			<select  asp-for="TenantFlatDetails.BuildingId" class="form-control"  asp-items='@(new SelectList(@ViewBag.buildings,"BuildingId","Name"))'></select>
			<span asp-validation-for="TenantFlatDetails.BuildingId" class="text-danger"></span>
		
		</div>
		<div class="row ">
		<div class="mb-3 col-sm">
				<label asp-for="TenantFlatDetails.FlatId"></label>
			<select  asp-for="TenantFlatDetails.FlatId" class="form-control"  asp-items='@(new SelectList(@ViewBag.flats,"FlatId","Name"))'></select>
			<span asp-validation-for="TenantFlatDetails.FlatId" class="text-danger"></span>
		
		</div>
		<div class="mb-3 col-sm">
				<label asp-for="TenantFlatDetails.FlatTypeId"></label>
					<select  asp-for="TenantFlatDetails.FlatTypeId" class="form-control"  asp-items='@(new SelectList(@ViewBag.flattypes,"FlatTypeId","Name"))'></select>

			<span asp-validation-for="TenantFlatDetails.FlatTypeId" class="text-danger"></span>
		</div>
		@*<div class="mb-3">
			<label asp-for="RoleId"></label>
			<select  asp-for="RoleId" class="form-control"  asp-items='@(new SelectList(@ViewBag.Roles,"RoleId","RoleName"))'> </select>
			<span asp-validation-for="EmailID" class="text-danger"></span>
		</div>*@
		<div class="mb-3 col-sm">
			<label asp-for="TenantFlatDetails.IsParking"></label> 
			  <div class="mt-2">

			 <div class="form-check form-check-inline">
                    <input class="form-check-input" id="IsParkingYes" asp-for="TenantFlatDetails.IsParking" type="radio" value="true"  class="form-check form-check-input bg-black"/>
                    <label class="form-check-label" for="IsParkingYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="IsParkingNo" asp-for="TenantFlatDetails.IsParking" type="radio" value="false"  class="form-check form-check-input bg-black"/>
                    <label class="form-check-label" for="IsParkingNo">No</label>
                </div>
			<span asp-validation-for="TenantFlatDetails.IsParking" class="text-danger"></span>
		</div>
		</div>
	<div class="row ">
		<div class="mb-3 col-sm">
			<label asp-for="TenantFlatDetails.TenancyStartDate"></label>

			<input id="TenantFlatDetails.TenancyStartDate" class="form-control ffa fa-calendar fcdatepicker" />
			<span asp-validation-for="TenantFlatDetails.TenancyStartDate" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm">
		<label asp-for="TenantFlatDetails.TenancyEndDate"></label>
		
			<input id="TenantFlatDetails.TenancyEndDate" class="form-control ffa fa-calendar fcdatepicker" />
			<span asp-validation-for="TenantFlatDetails.TenancyEndDate" class="text-danger"></span>
		</div>
		@*<div class="mb-3">
			<label asp-for="RoleId"></label>
			<select  asp-for="RoleId" class="form-control"  asp-items='@(new SelectList(@ViewBag.Roles,"RoleId","RoleName"))'> </select>
			<span asp-validation-for="EmailID" class="text-danger"></span>
		</div>*@
		<div class="mb-3 col-sm">
			<label asp-for="TenantFlatDetails.RenewalDate"></label>
			<input id="TenantFlatDetails.RenewalDate" class="form-control ffa fa-calendar fcdatepicker" />

			<span asp-validation-for="TenantFlatDetails.RenewalDate" class="text-danger"></span>
		</div>
		</div>
		<div class="row ">
			<h2 class="text-primary"> Tenant Rent Details</h2>
			<hr />
		</div>
		<div class="row ">
		<div class="mb-3 col-sm">
			<label asp-for="TenantFlatDetails.RentAmount"></label>
			<input asp-for="TenantFlatDetails.RentAmount" class="form-control" />
			<span asp-validation-for="TenantFlatDetails.RentAmount" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm">
				<label asp-for="TenantFlatDetails.MaintananceCost"></label>
			<input asp-for="TenantFlatDetails.MaintananceCost" class="form-control" />
			<span asp-validation-for="TenantFlatDetails.MaintananceCost" class="text-danger"></span>
		</div>
		@*<div class="mb-3">
			<label asp-for="RoleId"></label>
			<select  asp-for="RoleId" class="form-control"  asp-items='@(new SelectList(@ViewBag.Roles,"RoleId","RoleName"))'> </select>
			<span asp-validation-for="EmailID" class="text-danger"></span>
		</div>*@
		<div class="mb-3 col-sm">
				<label asp-for="TenantFlatDetails.ParkingAmount"></label>
			<input asp-for="TenantFlatDetails.ParkingAmount" class="form-control" />
			<span asp-validation-for="TenantFlatDetails.ParkingAmount" class="text-danger"></span>
		</div>
		</div>
		
		<div class="row ">
		<div class="mb-3 col-sm-4">
			<label asp-for="TenantFlatDetails.FrequencyId"></label>
					<select  asp-for="TenantFlatDetails.FrequencyId" class="form-control"  asp-items='@(new SelectList(@ViewBag.frequency,"FrequencyId","Name"))'></select>

			<span asp-validation-for="TenantFlatDetails.FrequencyId" class="text-danger"></span>
		</div>
		<div class="mb-3 col-sm-4">
				<label asp-for="TenantFlatDetails.AmountToPay"></label>
			<input asp-for="TenantFlatDetails.AmountToPay" class="form-control" />
			<span asp-validation-for="TenantFlatDetails.AmountToPay" class="text-danger"></span>
		</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	 
 <script type="text/javascript">
            $(document).ready(function () {
                $('.fcdatepicker').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                });
            });
        </script>
}

